:root { /* Sizes */
	--menu-width: 16em;
	--menu-margin: 1em;
}

#canvas-area-panel{
	position: relative;
	cursor: none;
}
#menu-panel{
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none; /* Do not hide the under panels */
}
#mask-panel{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #00000088;
	display: none;
	pointer-events: none;
}
#debug-canvas{
	position: absolute;
}

#canvas-layers-panel{
	position: absolute;
	width: 100%;
	height: 100%;
	touch-action: none;
}

/* =================== Info Panel ==================== */
#front-info-panel, #bottom-info-panel{
	position: absolute;
	overflow: hidden;
	bottom: 0px;
}
#front-info-panel{
	pointer-events: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#front-info-indicator{
	/* Indicator uses absolute color */
	display: none;
	margin: 0.3em 0em 0.3em 0.3em;
}
#front-info-box{
	margin: 0.5em;
	opacity: 0;
	transition: opacity 0.3s;
}
#front-info-box, #bottom-info-box{
	white-space: nowrap;
}
#front-info-box div, #bottom-info-box div{
	cursor: default;
}
#bottom-info-panel{
	padding: 0.5em;
	right: 0px;
	cursor: auto;
}
#bottom-info-panel *{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
#bottom-info-box input{
	text-align: right;
}
.bottom-info-block{
	margin-left: 2em;
	opacity: 0;
	transition: opacity 0.3s;
}
#bottom-info-panel:hover .bottom-info-block{
	opacity: 1;
}
#rotate-info, #scale-info{
	margin-left: 0.3em;
}
/* ==================== Canvas panels ==================== */
#brush-cursor-layer{ /* svg layer for cursor */
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 100%;
}
#canvas-window{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* no touch action on this panel */
	/*cursor: none;*/
}
#canvas-container{
	position: relative;
	pointer-events: none;
	transform-origin: 50% 50%;
	/* will-change: transform; */ /* Never use this: may crash the browser (Chrome) */
}

#main-canvas-background{
	position: absolute;
	/* width: 100%;
	height: 100%; */
	top: 1px; /* against GL edge cutting */
	bottom: 1px;
	left: 1px;
	right: 1px;
	background-image: url("../resources/transparent.svg");
	background-size: 4em;
	/* filter: blur(1px); against GL edge cutting */
}
#main-canvas{
	position: absolute;
	cursor: none; /* sometimes on Safari there will be cursor */
	top: -0.014px; /* 0.014px is to counteract the WebGL canvas round error on Chromium/Windows */
	/* possible least value is 0.01388888...9px, why? */
}

.pixelated{
	/* Pixel Scale */
	image-rendering: optimizeSpeed;             /* Legal fallback */
	image-rendering: -moz-crisp-edges;          /* Firefox        */
	image-rendering: -o-crisp-edges;            /* Opera          */
	image-rendering: -webkit-optimize-contrast; /* Safari         */
	image-rendering: optimize-contrast;         /* CSS3 Proposed  */
	image-rendering: crisp-edges;               /* CSS4 Proposed  */
	image-rendering: pixelated;                 /* CSS4 Proposed  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+           */
}

.dragging-canvas{
	cursor: move;
}

.dragging-layer{
	cursor: alias;
}