#drag-selection-layer{ /* svg layer for drag selection */
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	/* cursor: move; */
	box-shadow: inset 0px 0px 64px #000000;
	pointer-events: none;
}

#drag-lines-padding, #drag-points, #drag-area{ /* accept event only at this level */
	pointer-events: all;
}
#drag-points, #drag-lines-padding{
	cursor: cell;
}
#drag-area{
	cursor: grab;
}