.layer-panel-block{ /* The width of all elements in layer block */
	width: 10em;
	/* Also note that .layer-name-label uses this value */
}

.layer-panel-button-to-collapse{
	display: auto;
}

#palette-hue-info{
	font-size: 125%;
}

#palette-hue-info *{
	display: block;
}

.layer-ui{
	height: 5em;
}

.layer-opacity-label{
	display: flex;
	flex-direction: row;
}
.layer-buttons{
	display: block;
}
.layer-name-label{
	display: block;
	margin: 0.3em; /* 10 em in total */
	width: 9.4em;
}
.group-name-label{
	display: block;
}
.group-button-panel{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}