.layer-panel-block{ /* The width of all elements in layer block */
	width: var(--collapsed-layer-ui-size);
}
#new-layer-select-panel-outer{
	display: none;
}

.layer-panel-button-to-collapse{
	display: none;
}

#palette-hue-info{
	height: 0em;
	font-size: 0%;
	margin-bottom: 1rem; /* maintain border */
}

#layer-panel-title{
	font-size: 80%;
}
.layer-ui{
	height: var(--collapsed-layer-ui-size);
}

.layer-opacity-label{
	/* display: none; */
	font-size: 100%;
}
.layer-buttons{
	display: none;
}
.layer-name-label{
	display: none;
}
.group-name-label{
	display: none;
}
.group-button-panel{
	display: none;
}