.layer-panel-block{ /* The width of all elements in layer block */
	width: var(--collapsed-layer-ui-size);
}

.layer-panel-button-to-collapse{
	display: none;
}

#palette-hue-info{
	height: 0em;
}

#layer-panel-title{
	font-size: 100%;
}
.layer-ui{
	height: var(--collapsed-layer-ui-size);
}

.layer-opacity-label{
	display: none;
}
.layer-buttons{
	display: none;
}
.layer-name-label{
	display: none;
}
.group-name-label{
	display: none;
}
.group-button-panel{
	display: none;
}