.layer-panel-block{ /* The width of all elements in layer block */
	width: var(--expanded-layer-ui-width);
}

.layer-panel-button-to-collapse{
	display: auto;
}

#palette-hue-info{
	height: 1.3em;
}

#layer-panel-title{
	font-size: 125%;
}
.layer-ui{
	height: 5em;
}

.layer-opacity-label{
	display: flex;
	flex-direction: row;
}
.layer-buttons{
	display: block;
}
.layer-name-label{
	display: block;
	margin: var(--expanded-layer-namelabel-margin);
	width: calc(var(--expanded-layer-ui-width) - 2*var(--expanded-layer-namelabel-margin));
}
.group-name-label{
	display: block;
}
.group-button-panel{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}