/*
	Written By Iraka
	css file for Skeeetch platform
*/
:root {
	/* Microsoft YaHei is only for specifying CJK font on Win. On MacOS, the default is pleasant */
	--monospace-font-family: Consolas, Menlo, Monaco, Microsoft YaHei, monospace, sans-serif;
	--sans-serif-font-family: Lucida Grande, Segoe UI, Consolas, Menlo, Monaco, Microsoft YaHei, sans-serif;
	--default-font-family: var(--monospace-font-family);
}

html{
	width: 100%;
	height: 100%;
	overscroll-behavior-x: none; /* prevent two-finger swipe left/right to back/foward */
	overscroll-behavior-y: contain; /* prevent two-finger swipe left/right to back/foward */
	touch-action: none;
	overflow: hidden; /* No scroll */
	/*
		Note: this is still unable to stop navigation gesture in some cases
	*/
}
div{ /* This will work */
	overscroll-behavior-x: none;
	overscroll-behavior-y: contain;
}

.noselect{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

body{
	background-color: #ccc;
	font-size: 100%;
	width: 100%;
	height: 100%;
	font-family: var(--default-font-family);
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0px;
	margin: 0px;
	touch-action: none;
}

#body-mask-panel{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	/* pointer-events: none; */
	z-index: 3;
}

#ui-panel{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: column;
	/* invisible at first */
	visibility: hidden;
}

#top-menu-panel{
	z-index: 2;
	flex: none;
}
#column-panel{
	flex: auto;
	display: flex;
	flex-direction: row;
	height: 0px;
}
#canvas-area-panel{
	flex: auto;
	overflow: hidden;
}
#layer-area-panel{
	z-index: 1;
	flex: none;
}

input{
	background: transparent;
	font-size: 100%;
	font-family: var(--default-font-family);
	border: none;
	padding: 0em;
	margin: 0em;
	text-overflow: ellipsis;
}

input:focus{
	outline: none;
}
input::-moz-selection{
	background: none;
}
input::selection{
	background: none;
}

canvas{
	display: block;
}
svg{
	display: block;
}

/* prevent image dragging */
img{
	pointer-events: none;
}

/* unvisited link */
a:link{
	color: #86c2e0;
}

/* visited link */
a:visited{
	color: #86c2e0;
}

/* mouse over link */
a:hover{
	color: #86c2e0;
}

/* selected link */
a:active{
	color: #86c2e0;
}

hr{
	border-top: none;
	border-bottom: 0.05em solid #ffffffaa;
}

th, td{
	cursor: default;
}