#body-mask-panel{
	background-color: #00000088;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#mask-item{
	color: #fff;
	font-size: calc(1rem + 3vw); /* window width related */
}

/* dialog boxes */
.dialog-box-container{
	color: #fff;
	font-size: min(4vh, 125%);
	width: 16em;
	position: relative;
}
.dialog-box-input{
	width: 16em;
	color: #fff;
	box-shadow: 0em 0.05em 0em 0em #ccc;
	margin: 0em 0em 0.7em 0em;
}
.dialog-box-text{
	color: #ddd;
	/* text-overflow: ellipsis;
	overflow: hidden; */
}

.dialog-box-button-panel{
	padding-top: 0.7em;
}
.dialog-box-button{
	text-align: center;
	border: 1.6px solid #fff;
	border-radius: 1.4em;
	transition: background 0.3s, box-shadow 0.2s;
	padding: 0.15em 0.6em;
	margin: 0em 0em 0.7em 0em;
	text-overflow: ellipsis;
	overflow: hidden;
}
.dialog-box-button:hover{
	background: #00000055;
}
.dialog-box-button:active{
	box-shadow: 0px 0px 10px #ffffff88;
}