#top-menu-panel{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

:root { /* Sizes */
	--filename-input-width: 10em;
}

#top-menu-left-center-panel{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: calc(50% + var(--filename-input-width));
}

#top-menu-left-panel,#top-menu-right-panel{
	flex: none;
	display: flex;
	flex-direction: row;
}

#top-menu-center-panel{
	/* flex: auto;
	flex-direction: row;
	justify-content: center; */
	display: flex;
}

.top-block{
	font-size: 125%;
	padding: 0.5em;
	height: 1.2em;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: background 0.5s;
}

#filename-input{
	text-align: center;
	width: var(--filename-input-width);
	transition: background 0.5s;
}

#brush-button{
	min-width: 6em;
}
#brush-name{
	max-width: 10em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#brush-size{
	font-size: 80%;
	pointer-events: none;
	align-self: start; /* superscript */
}

#palette-button{
	width: 3em; /* Same as .layer-panel-block collapsed */
	overflow: hidden;
	transition: color 0.25s ease-out;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#palette-button-text{
	/*transform: scale(.8, 1);*/ /* TODO: stretch/shrink texts */
	white-space: nowrap;
}
/* ===================== Brush Selector ======================== */
#brush-selector-panel{
	position: relative;
}
#brush-selector-menu{
	position: absolute;
	width: 100%;
	/* padding-bottom: 0.2em; */
	border-radius: 0em 0em 0.7em 0.7em;
	color: #ccc;
	background: #000000bb;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s;
	overflow: hidden;
}

#brush-selector-panel:hover > #brush-selector-menu{
	pointer-events: all;
	opacity: 1;
}

.default-brush-table, .custom-brush-table{
	width: 100%;
}
.default-brush-table{
	border-style: none none solid none;
	border-width: 2px;
	border-color: #ffffff22;
}
.brush-selector-item{
	padding: 0.3em 0.5em;
	transition: color 0.5s;
}
.brush-selector-custom-item{
	padding: 0.3em 0em 0.3em 0.5em;
	transition: color 0.5s;
}
#brush-selector-menu tr:hover .brush-selector-item{
	color: #fff;
}
#brush-selector-menu tr{
	transition: background-color 0.25s;
}
#brush-selector-menu .brush-selector-tr-selected{
	background-color: #000000; /* For seeing brushtip clear */
}
.brush-selector-canvas-container{
	position: relative;
	width: 2.1em; /* 1+0.3*2+0.5 */
	height: 1.6em; /* 1+0.3*2 */
	overflow: hidden;
}
.brush-selector-canvas-container > *{
	height: 100%;
}
.custom-brush-name-label{
	color: #ccc;
	transition: color 0.5s;
	width: 100%;
	pointer-events: none;
}
.custom-brush-name-label:focus{
	box-shadow: 0em 0.05em 0em 0em #aaa;
}
#brush-selector-menu tr:hover .brush-selector-custom-item > .custom-brush-name-label{
	color: #fff; /* change color on tr hovered */
}
#brush-selector-panel:hover .brush-selector-tr-selected .custom-brush-name-label{
	pointer-events: all; /* enable clicking */
}

/* custom scroll */
#brush-selector-custom{
	position: relative;
	max-height: calc(50vh - 8em);

	overflow-x: hidden;
	overflow-y: scroll;
	overflow-y: -moz-scrollbars-none; /* IE 10+ */
	-ms-overflow-style: none; /* Old FF */
	scrollbar-width: none; /* FF 64+ */
}
#brush-selector-custom::-webkit-scrollbar{
	display: none; /* Chrome, Edge, Safari, Opera */
	width: 0px !important;
}
/* ============ top block buttons ============= */
#brush-selector-buttons{
	display: flex;
	flex-direction: row;
	padding: 0.3em;
	justify-content: space-around;
	color: #888;
	text-shadow: 0px 0px 10px #00000022;
}
#brush-selector-buttons > *{
	flex: 1;
	text-align: center;
	transition: color 0.25s, text-shadow 0.25s;
}
#brush-selector-buttons > *:hover{
	color: #fff;
	text-shadow: 0px 0px 10px #000000ff;
}

#brush-accessories-block{
	display: flex;
	flex-direction: column;
}
#block-accessories-title{
	display: flex;
	flex-direction: row;
}
#brush-expand-button{
	opacity: 0.5;
	transition: transform 0.5s;
}
.brush-expanded{
	transform: rotate(90deg);
}
#brush-expand-title{
	margin-left: 0.5em;
}
#block-accessories-container{
	font-size: 90%;
	display: none; /* hidden at first */
}
.brush-accessories-button{
	color: #aaa;
	transition: color 0.4s;
	margin: 0.3em 0.5em 0em 0.5em;
}
.brush-accessories-button:hover{
	color: #fff;
}
/* ================= setting button ================== */
#system-button-hint{
	transform: translateY(-0.3em);
	width: 0em;
	opacity: 0;
	transition: width 0.3s, opacity 0.3s, color 0.3s;
}

#system-button-hint.system-button-hint-shown{
	width: 0.5em;
	opacity: 1;
}

/* reports */
.reporter-outer{
	margin-top: 0.7em;
	max-height: 50vh;
	overflow-x: hidden;
	overflow-y: scroll;
	overflow-y: -moz-scrollbars-none; /* IE 10+ */
	-ms-overflow-style: none; /* Old FF */
	scrollbar-width: none; /* FF 64+ */
}
.reporter-outer::-webkit-scrollbar{
	display: none; /* Chrome, Edge, Safari, Opera */
	width: 0px !important;
}

#reporter-title{
	padding: 0.2em 0.1em;
	text-align: center;
}

.report-block{
	margin-bottom: 0.7em;
	display: none; /* hidden at first */
}
.report-block-title-panel{
	display: flex;
	flex-direction: row;
	padding: 0.2em 0.5em;
}
.report-block-title-expand{
	margin-right: 0.5em;
	transition: transform 0.5s;
}
.report-expanded{
	transform: rotate(90deg);
}
.report-block-title-text{
	flex: 1;
	color: #aaa;
}
.report-block-container{
	font-size: 80%;
}
.report-block-item{
	padding: 0.2em 0.5em;
	cursor: pointer; /* you can click on it */
	transition: background 0.2s;
}