#top-menu-panel{
	display: flex;
	flex-direction: row;
	background: #ccc;
}

#top-menu-left-panel,#top-menu-right-panel{
	flex: none;
	display: flex;
	flex-direction: row;
}

#top-menu-center-panel{
	flex: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.top-block{
	font-size: 125%;
	padding: 0.5em;
	transition: background 0.5s;
}
.top-block:hover{
	background: #bbb;
}

#filename-input{
	color: #000000;
	text-align: center;
}
#filename-input:focus{
	background: #bbb;
}
#filename-input:hover{
	background: #bbb;
}

#file-button{
	background: #aaa;
}
#file-button:hover{
	background: #bbb;
}

#brush-button{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 5.5em;
}

#brush-size{
	font-size: 80%;
	pointer-events: none;
}

#palette-button{
	transition: color 0.25s ease-out;
}

/* ===================== Brush Selector ======================== */
#brush-selector-panel{
	position: relative;
}
#brush-selector-menu{
	position: absolute;
	width: 100%;
	padding-bottom: 0.2em;
	border-radius: 0em 0em 1em 1em;
	color: #ddd;
	background: #000000bb;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s;
}

#brush-selector-panel:hover > #brush-selector-menu{
	pointer-events: all;
	opacity: 1;
}

.brush-selector-item{
	margin: 0.5em 0em 0.5em 0.7em;
	transition: color 0.25s;
}
.brush-selector-item:hover{
	color: #fff;
}